
body.dark-mode {
    font-family: 'Roboto', sans-serif;
    background-color: #333;
    color: white;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh; 
    align-items: stretch;
    justify-content: center;
    overflow: hidden;
}

.chat-container {
    display: flex;
    width: 95%; 
    height: 90vh; 
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    margin: 5vh auto;
}

.sidebar {
    width: 20%;
    background: #222;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: auto;
    height: 90vh; 
}

.sidebar-menu {
    padding: 1em;
    margin-top: auto;
}

.active-users, .sidebar-menu, .image-board {
    padding: 1em;
}

.active-users h2, .image-board h2 {
    margin: 0 0 0.5em 0;
}

.active-users {
    padding: 1em;
    text-align: left;
}

.active-users ul {
    list-style: none; 
    padding-left: 0;
    margin: 0; 
}

.message-input button {
    flex: 1; 
    max-width: 80px; 
    padding: 10px;
    text-align: center; 
}

.sidebar-menu button, #image-upload, .message-input button {
    background: #444;
    color: white;
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    border: none;
    cursor: pointer;
    border-radius: 8px; 
}

.sidebar-menu button:hover, 
#image-upload:hover, 
.message-input button:hover {
    background-color: #555; 
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    transform: scale(1.05);
}

.chat-box {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; 
}

.messages {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
}

.message-input {
    display: flex;
    padding: 10px;
    background: #222;
}

.message-input input {
    flex: 5;
    padding: 10px;
    margin-right: 10px;
    background: #333;
    border: 1px solid #444;
    color: white;
    border-radius: 8px; 
}

.image-board {
    width: 15%; 
    background: #222;
    padding: 10px;
    overflow-y: auto;
}

#image-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
    background: #444;
    margin-bottom: 10px;
    overflow-y: auto;
}

@media (max-width: 768px) {
    .sidebar, .image-board {
        width: 25%; 
    }
}

@media (max-width: 480px) {
    .sidebar, .image-board {
        display: none;
    }
    .chat-container {
        width: 98%; 
        margin: 1% auto;
    }
}

.user-active {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.username {
    margin-right: 0.5em; /* Adjust the space between the username and the typing indicator */
}

.online-dot {
    height: 10px;
    width: 10px;
    background-color: #00FF00;
    border-radius: 50%;
    margin-right: 10px;
}

.typing-indicator {
    /* Hide the indicator by default */
    display: none;
    color: #888;
    font-size: 0.8em;
    margin-left: 0.5em; /* Space between the username and the indicator */
}

.user-active.typing .typing-indicator {
    /* Show the indicator when the user is typing */
    display: inline-block; /* This should show the indicator */
    animation: typingDot 1.5s steps(3) infinite;
}

@keyframes typingDot {
    /* Define the steps for the '...' animation */
    0%, 100% { content: ''; }
    33% { content: '.'; }
    66% { content: '..'; }
    99% { content: '...'; }
}

@keyframes flyAndFade {
    from {
        opacity: 0;
        transform: translateX(-30px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.logout-button {
    background: #d9534f; 
    color: white;
}

.system-message strong {
    color: rgb(184, 99, 99);
    font-style: italic;
    font-family: 'Gadugi', cursive;
}

.system-message > div:first-child {
    font-weight: bold;
    color: rgb(184, 99, 99);
}

.system-message > div:last-child {
    margin-top: 4px; 
}

.user-message strong {
    color: #9a60b4; 
}

.timestamp {
    font-style: italic;
}

.system-message, .user-message {
    margin-bottom: 10px; 
    animation: flyAndFade 0.5s ease-out; 
}

.my-message strong {
    color: #76b582; 
}

.my-message {
    margin-bottom: 10px;
    animation: flyAndFade 0.5s ease-out;
}

.typing::after {
    content: '...';
    animation: typingIndicator 1.5s infinite;
}

@keyframes typingIndicator {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes blink {
    50% { opacity: 0; }
}

.user-active.typing::after {
    content: ''; 
    display: inline-block;
    position: absolute; 
    right: 0;
    top: 50%; 
    transform: translate(-100%, -50%); 
    font-size: 1.1em; 
    opacity: 1; 
    animation: typingDotFlyAndFade 2s infinite; 
}

@keyframes typingDotFlyAndFade {
    0%, 100% {
        content: ''; 
        opacity: 0; 
        transform: translateY(-50%) translateX(-100%); 
    }
    25% {
        content: '.';
        opacity: 1; 
        transform: translateY(-50%) translateX(0); 
    }
    50% {
        content: '..';
        opacity: 1; 
        transform: translateY(-50%) translateX(0);
    }
    75% {
        content: '...';
        opacity: 1;
        transform: translateY(-50%) translateX(0); 
    }
}